<h2 id="title">Welcome to Ember Adaptive Service</h2>

<h4> A companion package in Ember land for <a href="https://github.com/GoogleChromeLabs/react-adaptive-hooks" target="_blank" rel="noopener">React adaptive hooks</a> </h4>

{{this.device.metrics}}

{{outlet}}